.container {
    display: grid;
    grid-template-columns: 100px repeat(2, 1fr);
    padding: 0 30px;
}

.nav {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    column-gap: 30px;


}

.link {
    display: block;
    padding: 7px 10px;
    min-width: 200px;
    color: var(--color-white);
    text-align: center;
    font-size: var(--font-size-header);
    font-weight: var(--font-bold);
    font-family: var(--font-family);
    text-decoration: none;
    transition: .3ms;
}

.link:hover {
    text-shadow: var(--text-shadow-yellow);
}

.active{
    border: 2px solid var(--color-violet);
    color: var(--color-violet);
    border-radius: var(--border-radius-small);
}