.list__container{
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.list__item{
    width: 100%;
    margin: var(--margin-medium);
    border-radius: 3px;
    background-color: var(--color-white);
    cursor: pointer;
    justify-self: center;
}

.list__item a{
    text-decoration: none;
    color: var(--color-black);
    text-align: center;
}
.person__photo{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top center;
    border-radius: var(--border-radius-small) var(--border-radius-small)
}