:root {
    --color-dark-gray: #10100e;
    --color-black: #000;
    --color-white: #fff;
    --color-blue: #6a83fb;
    --color-violet: #ae27c2;

    --margin-medium: 20px;
    --border-radius-small: 3px;

    --spacing-large: 30px;
    --spacing-medium: 20px;

    --font-size-header: 26px;
    --font-size: 16px;
    --font-bold: 600;
    --font-family: Segoe UI Variable;

    --text-shadow-yellow: 0 0 2px var(--color-white), 0 0 40px var(--color-blue);

    --theme-default-header: #cccc46;
    --theme-default-bg-image: url(./../src/static/bg.jpg);
    --transition: .4ms;

    --max-width: 1440px;


}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-dark-gray);
    background-image: var(--theme-default-bg-image);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;


    font-size: var(--font-size);
}

.headerText {
    line-height: 1.7;
    font-size: var(--font-size-header);
    text-shadow: 0 0 2px var(--color-black);
    color: var(--theme-default-header);
    transition: color var(--transition);
}